$font-base: 'Open Sauce Sans', sans-serif;
$font-heading: 'TT Hoves', sans-serif;

$color-text-main: #1A2539;
$color-text-hover: #334E9D; 
$color-bg-primary: #F1F1F1;
$color-btn-bg: #1A2539;
$color-btn-text: #F1F1F1;