$font-base: 'Open Sauce Sans', sans-serif;
$font-heading: 'TT Hoves', sans-serif;

$color-text-main: #1A2539;
$color-text-second: #5B6270;
$color-text-third: #F1F1F1;
$color-text-hover: #334E9D; 
$color-bg-primary: #F9FAFB;
$color-bg-second: #F1F1F1;
$why-choose-bg: #1A2539;
$color-btn-bg: #1A2539;
$color-btn-text: #F1F1F1;
$color-btn-bg-second: #F1F1F1;
$color-btn-text-second: #E8E9F5;